/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
.no-js {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    font-size:62.5%;
}
body {
    color: #FFFFFF;
    font-family:'Myriad Pro semibold', Arial;
    font-size: 16px; font-size: 1.6rem;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    width: 100%;
}
.site-header .left {
    float: left;
}
.site-header .right {
    float: right
}
.logo {
    display: inline-block;
    margin: 12px 0 3px;
}
.searchbox {
    display: inline-block;
    margin-top: 38px;
}
.searchform input[type="image"]{
    outline: 0;
    position: relative;
    top: 8px;
}
#search {
    border: 0 none;
    outline: 0;
    padding: 4px 4px;
}
#search.active {
    border: 1px solid #ddb2b0;
    color: #ddb2b0;
}
.login-box {
    display: inline-block;
    margin-top: 38px;
}
.login-box a {
    /*background: #ddb2b0 url(../img/login-btn-bg.png) repeat;*/
    /*background-color: #ddb2b0;
    border: #d4aaa9;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;*/
    display: inline-block;
    font-size: 17px; font-size: 1.7rem;
    margin-left: 0px;
    /*padding: 0px 10px 2px;*/
    position: relative;
}
.login-box a:hover {
    /*background-color: #cca09e;*/
}
.login-box a .popup {
    background: #f7dada url(../img/popup-bg.png) repeat;
    box-sizing: border-box;
    border: 1px solid #b96f80;
    -moz-border-radius: 28px 0px;
    -webkit-border-radius: 28px 0px 28px 0px;/*This is the correct shorthand for webkit*/
    border-radius: 28px 0px;
    color: #b96f80;
    font-family: Arial;
    font-style: italic;
    font-size: 14px; font-size: 1.4rem;
    margin-top: 12px;
    padding: 13px 40px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 290px;
}
.login-box a .popup::after {
    background: url(../img/top-arrow-popup.png) no-repeat center top;
    content: "";
    display: block;
    height: 19px;
    position: absolute;
    right: 38px;
    top: -9px;
    width: 12px;
}
.login-box a .popup h4 {
    line-height: 1;
    font-style: normal;
    font-size: 16px; font-size: 1.6rem;
    margin: 0 0 5px 0;
}
.login-box a .popup p {
    margin: 0 0 10px;
}
.login-box a .exclamation {
    display: inline-block;
    margin-right: 8px;
}
.login-box .my-account-btn {
    margin-left: 0;
    outline: 0;
    /*padding-left: 3px;*/
}
/*.login-box .my-account-btn img {
    position: relative;
    top: -2px;
}*/
/*.my-account-btn img {
    display: inline-block;
    margin: 0 5px 0;
}*/
.main-menu {
    background-color: #cc7082;
    background-image: url(../img/main-nav-bg.png);
    background-position: top;
    background-repeat: repeat-x;
    padding-top: 36px;
}
.main-menu ul.menu, .main-menu ul.social-links {
    margin-bottom: 4px;
    margin-top: 0;
}
.main-menu ul.menu {
    float: left;
    list-style: none;
    padding: 0;
}
.main-menu ul.menu li {
    display: inline-block;
}
.main-menu ul.menu li a {
    background-color: #c1677d;
    border: 1px solid #e4c1c0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px; font-size: 1.8rem;
    height: 20px;
    line-height: 20px;
    margin-right: 1px;
    padding: 0px 11px 3px;

    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
}
.main-menu ul.menu li a:hover {
    background-color: #925467;
    /*padding: 0px 16px 3px;*/

    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    transition: .2s all ease;
}
ul.social-links {
    float: right;
    list-style: none;
    padding: 0;
}
.social-links li {
    display: inline-block;
    margin-left: 2px;
}
.social-links li a {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
}
.space {
    background: #bea194 url(../img/brow-dots-bg.png) repeat;
    padding: 1px;
}
.slide {
    background: #cc7082 url(../img/slide.png) repeat center center;
    display: block;
    min-height: 305px;
}
.carousel ul {
    margin: 0;
}
.carousel ul li {
    text-align: center;
}
.carousel ul li .wrap {
    display: inline-block;
    outline: 0;

    /*-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 2px 2px 4px 3px #e4cccc;
    -webkit-box-shadow: 2px 2px 4px 3px #e4cccc;
    box-shadow: 2px 2px 4px 3px #e4cccc;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#e4cccc');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#e4cccc')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/

    height: 133px;
    margin-bottom: 9px; /*2px;*/
    overflow: hidden;
    width: 133px;

    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
}
.carousel ul li a {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    outline: 0;
}
.carousel ul li a img {
    display: inline-block;
    height: auto;
    max-width: 100%; 
}
.carousel ul li a:hover .wrap {
    transform: scale(1.15);

    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    transition: .2s all ease;
}
.carousel ul li a:hover img {
    /*transform: scale(0.8);*/
}
.carousel .caption {
    color: #c88380;
    display: block;
    font-weight: bold;
}
.carousel .prev {
    cursor: pointer;
    display: inline-block;
    left: 0;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}
.carousel .next {
    cursor: pointer;
    display: inline-block;
    right: 0;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}

.cards-section { min-height: 600px; font-size: 17px; font-size: 1.7rem; }
.cards-section h2 {
    font-family:'trendsetter';
    font-size: 94px; font-size: 9.4rem;
    font-weight: normal;
    margin: 0;
}
.cards-section .right h2 {
    display: none;
}
.cards-section .join-btn, .cards-section .join-btn-orange {
    background: #c1edbd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 20px; font-size: 2.0rem;
    margin-left: 70px;
    padding: 6px 75px;
    position: relative;
    text-shadow: none;
    top: -20px;
}
.cards-section .join-btn-orange {
    background: #ffc59f;
}
.cards-section .header-left {
    float: left;
    text-shadow: 1px 3px 2px #636363;
    width: 75%;
}
.cards-section .header-right {
    float: right;
    width: 25%;
    text-align: center;
}
.cards-section .header-right img {
    display: inline-block;
    /*-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/
    margin-top: 20px;

    /*moz-box-shadow: 2px 2px 4px 3px #c1c1c1;
    -webkit-box-shadow: 2px 2px 4px 3px #c1c1c1;
    box-shadow: 2px 2px 4px 3px #c1c1c1;*/
}
.cards-section .left {
    float: left;
    padding-top: 57px;
    width: 30%;
}
.cards-section .right {
    float: right;
    width: 70%;
}
.cards-section img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.cards-section .preview {
    max-width: 30%;
    margin-bottom: 20px;
    margin-left: 3%;
    min-width: 220px;
}
.cards-section .more-wrapper {
    text-align: right;
    margin-bottom: 20px;
}
.cards-section .more {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    font-size: 22px; font-size: 2.2rem;
    font-weight: bold;
    margin: 23px 0 37px;
    padding: 5px 26px;

    -moz-box-shadow: 2px 2px 7px 2px #a9a9a9;
    -webkit-box-shadow: 2px 2px 7px 2px #a9a9a9;
    box-shadow: 2px 2px 7px 2px #a9a9a9;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#a9a9a9');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#a9a9a9')";

    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
}
.cards-section .more:hover {
    background: #fff;

    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    transition: .2s all ease;
}
/*#trees .more { color: #a7bfa5; }
#vintage .more { color: #c3aea4; }
#art .more { color: #9cafb6; }
#flowers .more { color: #bb9faa; } */


.margin-line {
    background: url(../img/margin-line-bg.png) repeat-x left;
    border: 0 none;
    clear: both;
    display: block;
    height: 3px;
    margin: -25px 0 20px;
    width: 100%;
}
#trees { background: #cbefc8 url(../img/trees-bg.png) no-repeat center center scroll; background-size: cover; }

.site-footer {
    background-color: #ffc9dc;
    background-image: url(../img/site-footer-bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    padding: 110px 0 0;
    text-align: center;
}
.footer-nav {
}
.footer-nav ul.menu {
    list-style: none;
}
.footer-nav ul.menu li {
    display: inline-block;
    margin: 0 8px;
}
.footer-nav ul.menu li a {
    display: inline-block;
    padding: 3px 11px 6px;
    font-size: 15px; font-size: 1.5rem;
    position: relative;
}
.footer-nav ul.menu li a:hover {

}

.footer-nav ul.menu li a::before {
    content: '';
    position: absolute;
    border: #ffc9dc solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.footer-nav ul.menu li a:hover::before {
    border-color: #ecbdce;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}


.social-footer {
    background: url(../img/orejitas.png) no-repeat right bottom;
    display: inline-block;
    padding: 0 250px 50px;
}
.social-footer ul {
    list-style: none;
}
.social-footer ul li {
    display: inline-block;
    margin: 0 10px;
}
.social-footer ul li a {
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    display: inline-block;
    overflow: hidden;
}
.copyright {
    background-color: #ae566a;
    font-family: Arial;
    padding: 17px 0 24px;
    text-align: center;
}
.copyright .left {
    float: left;
    width: 50%;
}
.copyright .right {
    float: right;
    width: 50%;
}
.copyright .right img {
    display: inline-block;
    vertical-align: baseline;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}
@media only screen and (max-width: 1280px) {
    .container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 950px) {
    .social-footer {
        background-position: center bottom;
        padding: 0 0 120px;
    }
    .site-footer {
        padding-top: 120px;
    }
    .site-footer ul {
        padding-left: 0;
    }
    .footer-nav ul.menu li {
        display: block;
        margin-bottom: 8px;
    }
}
@media only screen and (max-width: 800px) {
    .site-header .left, .site-header .right {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
    .site-header .right {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 800px) {
    .main-menu ul.menu, .main-menu ul.social-links {
        display: inline-block;
        float: none;
        text-align: center;
        width: 100%;
    }
    .main-menu ul.menu {
        padding: 10px 0 0;
    }
    .cards-section .section-header .margin-line {
        display: none;
    }
    .cards-section .left img {
        max-width: 70%;
    }
}
@media only screen and (min-width: 880px) {
    .cards-section .right h2 {
        display: inline-block;
    }
    .cards-section .left h2 {
        display: none;
    }
}
@media only screen and (max-width: 880px) {
    .cards-section .left, .cards-section .right {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    .cards-section .more-wrapper {
        text-align: center;
    }
    #trees { background-attachment: scroll }
    #flowers { background-attachment: scroll }
    #art { background-attachment: scroll }
    .margin-line {
        margin-top: 0;
    }
    .cards-section .join-btn, .cards-section .join-btn-orange {
        margin-bottom: 30px;
        margin-left: 0;
        position: static;
    }
    .cards-section .section-header .header-right {
        display: none;
    }
    .cards-section .section-header .header-left {
        float: none;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .copyright .left, .copyright .right {
        float: none;
        width: 100%;
    }
}
@media only screen and (max-width: 440px) {
    .main-menu ul.menu li {
        display: block;
        margin-bottom: 10px;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/**
K1LIB CLASES
*/

#k1lib-content {
}
#k1lib-content a{
    color:#3366ff
}
#k1lib-content a:hover{
    color:#ff33cc
}
#k1lib-content.home{
}
#k1lib-content.page{
    color: #222;
    font-family: 'Myriad Pro', Arial;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 3rem 2rem;
}


/* ==========================================================================
   Fonts
   Generated by Fontie <http://fontie.pixelsvsbytes.com>
   ========================================================================== */
/* Trendsetter - */
@font-face {
    font-family:'trendsetter';
    src: url('../fonts/trendsetter-Regular.eot');
    src: url('../fonts/trendsetter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trendsetter-Regular.woff2') format('woff2'),
        url('../fonts/trendsetter-Regular.woff') format('woff'),
        url('../fonts/trendsetter-Regular.svg#trendsetter-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-030A;
}
/* Myriad Pro semibold */
@font-face {
    font-family:'Myriad Pro semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
/* Myriad Pro Bold */
@font-face {
    font-family:'Myriad Pro Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
