<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ebunny - ecards</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/slick.css">
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
        <link rel="manifest" href="img/favicon/manifest.json">

        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="site-header">
            <div class="container clearfix">
                <div class="left">
                    <a class="logo" href="#"><img src="img/logo-ebunny.png" width="169" height="137"/></a>
                </div>
                <div class="right">
                    <div class="searchbox">
                        <form class="searchform" method="post" action="search.php">
                            <input type="text" value="" name="s" id="search"/>
                            <input type="image" id="search-btn" src="img/lupa.png" alt="search"/>
                        </form>
                    </div>
                    <div class="login-box">
                        <a class="my-account-btn" href="#my_account"><img src="img/my-acount.png" alt="my-account"/></a>
                        <a class="my-login-btn has-popup" href="#login" data-popup-id="login-popup"><img src="img/login.png" alt="login"/></a>
                        <a class="join-now-btn has-popup" href="#join_now" data-popup-id="join-popup"><img src="img/join-now.png" alt="join now"/></a>
                        <div id="join-popup" style="display:none;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="img/exclamation.png" class="exclamation" />
                                    </td>
                                    <td>
                                        <h4>Become a member!</h4><span>consectetur adipisicing elit.</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="login-popup" style="display:none;"><span>consectetur adipisicing elit.</span></div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="main-menu">
            <div class="container clearfix">
                <ul class="menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Prime Cards</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>
                <ul class="social-links">
                    <li class="fb"><a href="#"><img src="img/icon-facebook.png" alt="Facebook"/></a></li>
                    <li class="pi"><a href="#"><img src="img/icon-pinterest.png" alt="Pinterest"/></a></li>
                    <li class="yt"><a href="#"><img src="img/icon-youtube.png" alt="Youtube"/></a></li>
                    <li class="ig"><a href="#"><img src="img/icon-instagram.png" alt="Instagram"/></a></li>
                    <li class="tw"><a href="#"><img src="img/icon-twitter.png" alt="Twitter"/></a></li>
                </ul>
            </div>
        </nav>
        <div class="slide old-space">
            
        </div>
        <div class="carousel container">
            <ul>
                <li><a href="#eggs"><span class="wrap"><img src="img/carousel-eggs.png" alt="Eggs"/></span><span class="caption">Eggs</span></a></li>
                <li><a href="#watercolor"><span class="wrap"><img src="img/carousel-watercolor.png" alt="Watercolor"/></span><span class="caption">Watercolor</span></a></li>
                <li><a href="#vintage"><span class="wrap"><img src="img/carousel-vintage.png" alt="Vintage"/></span><span class="caption">Vintage</span></a></li>
                <li><a href="#lines"><span class="wrap"><img src="img/carousel-lines.png" alt="Lines"/></span><span class="caption">Lines</span></a></li>
                <li><a href="#vines"><span class="wrap"><img src="img/carousel-vines.png" alt="Vines"/></span><span class="caption">Vines</span></a></li>
            </ul>
        </div>
        <section class="cards-section" id="eggs">
                <div class="container clearfix">
                <div class="left">
                    <h2>Eggs</h2>
                    <img src="img/content/bunny-eggs.png" alt="eggs"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>  
                        </div>
                        <div class="header-right">
                            <img src="img/cat-eggs.png" width="129" height="130" alt="Eggs"/>
                        </div>
                    </header>
                    
                    <img class="preview" src="img/content/frame-eggs.png" alt=""/>
                    <img class="preview" src="img/content/frame-eggs.png" alt=""/>
                    <img class="preview" src="img/content/frame-eggs.png" alt=""/>
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="img/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- section class="cards-section" id="trees">
                <div class="container clearfix">
                <div class="left">
                    <h2>Trees</h2>
                    <img src="img/content/bunny-trees.png" alt="trees"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>  
                        </div>
                        <div class="header-right">
                            <img src="img/double-trees.png" width="118" height="118" alt="trees"/>
                        </div>
                    </header>
                    
                    <img class="preview" src="img/content/trees1.png" alt=""/>
                    <img class="preview" src="img/content/trees2.png"/>
                    <img class="preview" src="img/content/trees3.png"/>
                    <img class="preview" src="img/content/trees1.png"/>
                    <img class="preview" src="img/content/trees2.png"/>
                    <img class="preview" src="img/content/trees3.png"/>
                    <div class="more-wrapper">
                        <a class="more" href="#">SEE MORE</a>
                    </div>
                </div>
            </div>
        </section -->
        <section class="cards-section" id="watercolor">
            <div class="container clearfix">
                <div class="left">
                    <h2>Watercolor</h2>
                    <img src="img/content/bunny-watercolor.png" alt="Watercolor"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <a href="#" class="join-btn">JOIN</a>
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="img/cat-watercolor.png" alt="watercolor" width="129" height="130"/>
                        </div>
                    </header>
                    <img class="preview" src="img/content/frame-watercolor.png">
                    <img class="preview" src="img/content/frame-watercolor.png">
                    <img class="preview" src="img/content/frame-watercolor.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="img/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="vintage">
            <div class="container clearfix">
                <div class="left">
                    <h2>Vintage</h2>
                    <img src="img/content/bunny-vintage.png" alt="Vintage"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="img/cat-vintage.png" alt="vintage" width="129" height="130"/>
                        </div>
                    </header>
                    <img class="preview" src="img/content/frame-vintage.png">
                    <img class="preview" src="img/content/frame-vintage.png">
                    <img class="preview" src="img/content/frame-vintage.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="img/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="lines">
            <div class="container clearfix">
                <div class="left">
                    <h2>Lines</h2>
                    <img src="img/content/bunny-lines.png" alt="Lines"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <a href="#" class="join-btn-orange">JOIN</a>
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="img/cat-lines.png" width="118" height="118" alt="lines"/>
                        </div>
                    </header>
                    <img class="preview" src="img/content/frame-lines.png">
                    <img class="preview" src="img/content/frame-lines.png">
                    <img class="preview" src="img/content/frame-lines.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="img/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="vines">
            <div class="container clearfix">
                <div class="left">
                    <h2>Vines</h2>
                    <img src="img/content/bunny-vines.png" alt="Vines"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="img/cat-vines.png" width="118" height="118" alt="vines"/>
                        </div>
                    </header>
                    <img class="preview" src="img/content/frame-lines.png">
                    <img class="preview" src="img/content/frame-lines.png">
                    <img class="preview" src="img/content/frame-lines.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="img/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="site-footer">
            <div class="container clearfix">
                <nav class="footer-nav">
                    <ul class="menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Collection E-Cards</a></li>
                        <li><a href="#">Premium E-Cards</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Faqs</a></li>
                    </ul>
                </nav>
                <nav class="social-footer">
                    <ul>
                        <li><a href="#"><img src="img/icon-facebook2.png" alt="Facebook"></a></li>
                        <li><a href="#"><img src="img/icon-pinterest2.png" alt="Pinterest"></a></li>
                        <li><a href="#"><img src="img/icon-youtube2.png" alt="Youtube"></a></li>
                        <li><a href="#"><img src="img/icon-instagram2.png" alt="Instagram"></a></li>
                        <li><a href="#"><img src="img/icon-twitter2.png" alt="Twitter"></a></li>
                    </ul>
                </nav> 
            </div>
            <div class="copyright">
                <div class="container clearfix">
                    <div class="left">&copy; EBunny All rights reserved</div>
                    <div class="right">Developed by <a href="http://klan1.com" target="_blank"><img src="img/klan1.png" alt="klan1"/></a></div>
                </div>
            </div>
        </footer>

        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script -->
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
