<!doctype html>
<html class="no-js" lang="en">
    <head>
       
        
        
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        <section class="cards-section" id="eggs">
                <div class="container clearfix">
                <div class="left">
                    <h2>Eggs</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-eggs.png" alt="eggs"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>  
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/cat-eggs.png" width="129" height="130" alt="Eggs"/>
                        </div>
                    </header>
                    
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-eggs.png" alt=""/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-eggs.png" alt=""/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-eggs.png" alt=""/>
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- section class="cards-section" id="trees">
                <div class="container clearfix">
                <div class="left">
                    <h2>Trees</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-trees.png" alt="trees"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>  
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/double-trees.png" width="118" height="118" alt="trees"/>
                        </div>
                    </header>
                    
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees1.png" alt=""/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees2.png"/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees3.png"/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees1.png"/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees2.png"/>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/trees3.png"/>
                    <div class="more-wrapper">
                        <a class="more" href="#">SEE MORE</a>
                    </div>
                </div>
            </div>
        </section -->
        <section class="cards-section" id="watercolor">
            <div class="container clearfix">
                <div class="left">
                    <h2>Watercolor</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-watercolor.png" alt="Watercolor"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <a href="#" class="join-btn">JOIN</a>
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/cat-watercolor.png" alt="watercolor" width="129" height="130"/>
                        </div>
                    </header>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-watercolor.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-watercolor.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-watercolor.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="vintage">
            <div class="container clearfix">
                <div class="left">
                    <h2>Vintage</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-vintage.png" alt="Vintage"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/cat-vintage.png" alt="vintage" width="129" height="130"/>
                        </div>
                    </header>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-vintage.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-vintage.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-vintage.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="lines">
            <div class="container clearfix">
                <div class="left">
                    <h2>Lines</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-lines.png" alt="Lines"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <a href="#" class="join-btn-orange">JOIN</a>
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/cat-lines.png" width="118" height="118" alt="lines"/>
                        </div>
                    </header>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="cards-section" id="vines">
            <div class="container clearfix">
                <div class="left">
                    <h2>Vines</h2>
                    <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/bunny-vines.png" alt="Vines"/>
                </div>
                <div class="right">
                    <header class="section-header clearfix">
                        <div class="header-left">
                            <hr class="margin-line"/>
                            <p>You can find friends wherever you go but you value them when you have problems. Nothing better today than remember how wonderful your friendship is.</p>
                        </div>
                        <div class="header-right">
                            <img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/cat-vines.png" width="118" height="118" alt="vines"/>
                        </div>
                    </header>
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <img class="preview" src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/content/frame-lines.png">
                    <div class="more-wrapper">
                        <a class="old-more seemore" href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/seemore.png" alt="see more"/></a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="site-footer">
            <div class="container clearfix">
                <nav class="footer-nav">
                    <ul class="menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Collection E-Cards</a></li>
                        <li><a href="#">Premium E-Cards</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Faqs</a></li>
                    </ul>
                </nav>
                <nav class="social-footer">
                    <ul>
                        <li><a href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/icon-facebook2.png" alt="Facebook"></a></li>
                        <li><a href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/icon-pinterest2.png" alt="Pinterest"></a></li>
                        <li><a href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/icon-youtube2.png" alt="Youtube"></a></li>
                        <li><a href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/icon-instagram2.png" alt="Instagram"></a></li>
                        <li><a href="#"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/icon-twitter2.png" alt="Twitter"></a></li>
                    </ul>
                </nav> 
            </div>
            <div class="copyright">
                <div class="container clearfix">
                    <div class="left">&copy; EBunny All rights reserved</div>
                    <div class="right">Developed by <a href="http://klan1.com" target="_blank"><img src="<?php echo APP_TEMPLATE_IMAGES_URL; ?>/klan1.png" alt="klan1"/></a></div>
                </div>
            </div>
        </footer>

        <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script -->
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
